---
---

@import "{{ site.theme }}";
section {
    width: 80%;
    float: right;
    padding-bottom: 50px;
}

footer {
    width: 210px;
    float: left;
    position: fixed;
    left: 100px;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

header {
    width: 210px;
    float: left;
    position: fixed;
    left: 100px;
    -webkit-font-smoothing: subpixel-antialiased;
}