---
---

@import "{{ site.theme }}";
section {
    width: 650px;
    float: right;
    padding-bottom: 50px;
}

footer {
    width: 200px;
    float: left;
    position: static;
    left: 30px;
    -webkit-font-smoothing: subpixel-antialiased;
}

header {
    width: 190px;
    float: left;
    position: fixed;
    left: 30px;
    -webkit-font-smoothing: subpixel-antialiased;
}